body{
    background-color:#d2edfa;
    background-image: url("background.png");
}

.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }

figure {
    font-family:monospace;
    font-size:large;
    font-style:italic;
    text-align: center;
}

p {
    font-family:monospace;
    font-size:x-large;
}

#dogPic {
    border-style: solid;
    border-width: 4px;
    border-color: #6d9eebff;
    border-radius: 5px;
}

.score, .over, .won {
    font-family:monospace;
    font-size:x-large;
}

td {
    padding: 30px;
}

.reset, .refresh {
    background-color:#fff2ccff;
    font-family:monospace;
    font-size:x-large;
}

.gameStateInfo{
    background-color:#ffbde9;
    border-style: solid;
    border-width: 4px;
    border-color: #6d9eebff;
    border-radius: 5px;
}

.joke{
    background-color:#fff2ccff;
    border-style: solid;
    border-width: 4px;
    border-color: #6d9eebff;
    border-radius: 5px;
    text-align: center;
}

.grid-container {
    height: 75vh;
    width: 75vh;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5px 5px; 
    background-image: url("grass.png");

    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }

.grid-item {
    font-size: 2rem;
    text-align: center;
}

.cell {
    height: 120px;
    width: 120px;
    background-color:rgb(70, 151, 59);
}

.cell:hover {
    background-color:darkgreen;
}
